body {
    margin: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: background 1s ease-in-out;
    background-image: url(../images/menuBackground.png);
    font-size: 1.2rem;

}

.top-bar {
    background: rgba(67, 40, 24, 0.9);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.top-bar a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

.top-bar a.active {
    text-decoration: underline;
}

.intro-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    padding: 20px;
}

.intro-section h1 {
    font-size: 3rem;
    margin: 0;
}

.content-section {
    background-color: #f0ebe3;
    padding: 50px 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 100px);
    padding: 0 20px;
}

.park {
    max-width: 800px;
    width: 100%;
    margin: 0 auto 60px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    color: #333;
}

.park img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.park-content {
    padding: 20px;
}

.park-content h2 {
    margin-top: 0;
    color: #333;
}

iframe {
    width: 100%;
    max-width: 800px;
    height: 300px;
    border: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.bottom-bar {
    background-color: #4e2c1e;
    text-align: center;
    padding: 10px;
    color: #fff;
}

.scroll-indicator {
    position: absolute;
    bottom: 40px;       /* más abajo */
     animation: bounce 2s infinite;
}


.scroll-indicator span {
    font-size: 3rem;
    color: white;
    opacity: 0.8;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(10px);
    }
    60% {
        transform: translateY(5px);
    }
}