<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finca Mogi</title>
    <link rel="stylesheet" href="style.css">
    <!-- Adicionando a fonte Playfair Display do Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Faixa superior -->
    <div class="top-bar">
        <p>Finca "Vozes da mata" - La verdadera experiencia rural</p>
    </div>

    <div class="container">
        <div class="finca-info">
            <h1>Bem-vindo à Mogi</h1>
        </div>

        <div class="menu">
            <div class="menu-item"><a href="#">Galeria</a></div>
            <div class="menu-item"><a href="#">Eventos</a></div>
            <div class="menu-item"><a href="#">Turismo en la ciudad</a></div>
            <div class="menu-item"><a href="#">Sobre nosotros</a></div>
            <div class="menu-item"><a href="#">Contacto</a></div>
        </div>
    </div>

    <!-- Faixa inferior -->
    <div class="bottom-bar">
        <p>&copy; 2025 Finca Vozes da mata. Todos los derechos reservados.</p>
    </div>
</body>

</html>